.MetaTab {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-right: -4rem;
  padding: 1rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  &__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__head {
    font-size: 1.2rem;
  }
  &__item {
    padding: 1rem;
  }
}

.box {
  // border: 1px solid rgba(0, 0, 0, 0.15);

  border-radius: 0.3rem;
  padding: 1rem;
  cursor: pointer;
  margin: 0.5rem 0;
  transition: all 0.5s ease;

  &:visited,
  &:focus,
  &:hover,
  &:active {
    background-color: rgb(245, 245, 245);
  }
}
