.formComp {
  display: flex;
  flex-direction: column;
  z-index: 10;

  &__input {
    border: none;
    background-color: #f4f2f2;
    padding: 1rem;
    border-radius: 2rem;
    &:focus {
      outline: none;
    }
  }
  &__btn {
    margin-right: 1rem;
    padding: 1rem 2rem;
    border: none;

    &--red {
      background-color: rgb(255, 126, 126);
    }
    &--green {
      background-color: rgb(169, 218, 169);
    }

    border-radius: 2rem;
    &:focus {
      outline: none;
    }
  }
}

.btns {
  display: flex;
  justify-content: flex-end;
}
